<!DOCTYPE html>
<html>
  <head>
    <title>Erikawebappnew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html> 

<div class="footer">
    <div class="links">
      <a href="https://www.facebook.com/Handmade-Carpets-100934705312328"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://erikap02.medium.com/"><i class="fab fa-medium"></i></a>
      <a href="https://github.com/erikachaudhary"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://twitter.com/ErikaChaudhary"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="https://www.instagram.com/erikachaudhary/"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> by Erika Chaudhary.</p>

    </div>
